<!DOCTYPE html>
<html lang="zh">
<head>
	<title>Random words</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>

<body>

<div class="well" ng-app="app" ng-controller="dictCtrl">

	<p ng-show="letter"> Letter: {{letter}} - Timer: {{countDown}} </p>
	

	
	
	<ol ng-show="letter">
		<div ng-repeat="entry in getList()">
			<li>{{entry}} <br> 
			<input class="form-control" type="text" autocomplete="off" placeholder="{{letter}}:" ng-disabled="countDown <= 0" /> </li>
		</div>
	</ol>
	
	<input class="form-control" autocomplete="off" type="text" ng-model="seed_text" placeholder="Smash some random digits here" ng-show="countDown == 0" />
	<input type="button" value="Start!" ng-click='gen(seed_text)' ng-show="seed_text && countDown == 0" ></input>
</div>

<script src="controller.js"></script>

</body>
</html>
